@import "http://webfonts.ru/import/scada.css";
* {
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Scada';
	font-weight: normal;
	font-style: normal;
}
button:focus {
	outline-style: none;
}
@-webkit-keyframes myfirst
{
    from {background-position: 1000px 155px;}
    to {background-position: 0px 0px;}
}
@keyframes myfirst
{
    from {background-position: 1000px 155px;}
    to {background-position: 0px 0px;}
}

body {

    background: transparent url(/images/jeans/fzm-Denim.Jeans.Texture-06-[400x400].jpg);
    background-position: 200px 400px;
    d: -1000px 155px;
    /*background-size: 1520px;*/
    danimation: myfirst 20s;
    d-webkit-animation: myfirst 5s;
    danimation-timing-function: ease-out;
    d-webkit-animation-timing-function: ease-out;
    width: 1350px;
}
#wrap {
    width: 1000px;
    margin:0 auto;
    margin:0 auto;
}
#logo {
    float: left;
}
#logo span {
    position: relative;
    top: -20px;
}
#buttons {
    float: right;
    margin-right: 100px;
    position: relative;
    fdtop: 20px;
    padding-right: 100px;
}
#login {
    clear : both;
    position: absolute;
    right: 0px;
    top: 0px;
}
#left {
    width: 100px;
    height: 100px;
    position: absolute;
    left: -100px;
}
#left {
	position: absolute;
	width: 250px;
	left: -250px;
	top: 0;
}
#right {
    position: absolute;
	width: 250px;
	left: -250px;
	top: 0;
}
#center {
	margin-left:140px;
    position: relative;

    width: 1000px;
    height: 730px;
    background-color: red;
    background: transparent url("../../../images/ipad.png") no-repeat;
    background-size: 900px;
    background-position: 50px 0px;
    

}
#body {
    position: relative;
}
#login {
    margin-right: 30px;
}
#login a { diplay: block; float: left; }
#login img,
#login a.login-bar {
    background-color: black;
	text-decoration: none;
	text-align: center;
	font-size: 43px;
	color: #ffffff;
	min-width: 50px;
    height: 50px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    position: relative;
    border-bottom: 5px solid #007700;
    margin-left: 10px;
}
#login a:hover img,
#login a.login-bar:hover {
	cursor: pointer;
    margin-top: -20px;
    padding-top: 30px;
    ftop: 10px;
    background-color: green;
    outline: 1px solid transparent;
}
#logo img {
    width: 120px;
    height: 120px;
}
#logo * {
    display: block;
    float: left;
}
#logo h1 {
    padding-top: 40px;
    padding-left: 10px;
}
#buttons a {
    background-color: black;
    width: 150px;
    height: 40px;
    display: block;
    float: left;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: text-bottom;
    padding-top: 10px;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    position: relative;
    border-bottom: 5px solid #DC143C;
    margin-left: 10px;
    margin-right: 100px;
    font-size: 25px;
}
#buttons a:hover {
    margin-top: -20px;
    padding-top: 40px;
    /*background-color: #9E0508;
    background-color:#BE2625;*/
    background-color:#DC143C;
    outline: 1px solid transparent;
}
#header {
    height: 70px;
    z-index: 10;
    margin:0 auto;
    padding:0 auto;
    width:100%;
    position:relative;
    overflow:hidden;

}
#screen {
	position: absolute;
	width: 727px;
	height: 530px;
	top: 96px;
	left: 137px;
	overflow: hidden;
}
.cross {
	background-color: #ff6d68;
}
.h {
    position: absolute;
    opacity: 0;
    cursor: hand;
}
.hhover #svg_7 {
	stroke: white;
}
.hhover #svg_9 {
	stroke-dasharray: 25,25;
	stroke-width: 22;
}
.hselected #svg_7 {
	stroke: white;
}
.hselected #svg_9 {
	stroke-width: 22;
}
.hselected:hover #svg_9 {
	stroke-dasharray: 0;
}
.thelist {
    margin-bottom: 30px;
    background-color: rgba(245,245,245,0.8);
    padding-bottom: 20px;
    opacity: 0;
	box-shadow: 5px 5px 15px black;

}
.thelist ul {
    list-style-type: none;
}
.thelist li {
    margin-top: 10px;
}
.thelist p{
	text-align: center;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 120%;
    background-color: rgba(235,235,235,0.8);
}
.thelist a {
    display: block;
}
a:hover
{
    -webkit-animation-fill-mode:both;
    -moz-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    -o-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-duration:0.5s;
    -moz-animation-duration:0.5s;
    -ms-animation-duration:0.5s;
    -o-animation-duration:0.5s;
    animation-duration:0.5s;
    dbackground-color: red;
    -webkit-animation-name: tada;
    -moz-animation-name: tada;
    -o-animation-name: tada;
    animation-name: tada;
}

.tada {
	cursor: pointer;
	color: #1E3B61;
	font-weight: bold;
}
.h > div {
    position: absolute;
    color: white;
}
#info {
    position: relative;
    background-color: rgba(255,255,255,0.8);
    padding: 20px;
    width: 300px;
    height: 492px;
    left: 138px;
    top: 95px;
    opacity: 0;
    display: none;
}
#info h3 {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}
#info img {
    width: 100%;
    margin-bottom: 10px;
}
#info p {
    margin-bottom: 5px;
}
#infobottom {
    position: absolute;
    bottom: 0;
}
.editable #info {
	display: none !important;
}
.logo {
	width: 50px;
	height: 50px;
}
#screen_editor {
	position: relative;
	width: 200px;
	margin: 0 auto;
	height: 110px;
	border: 5px solid #1016ff;
	padding-top: 30px;
	text-align: center;
}
.demo {
	display: inline-block;
}
#infobottom {
	text-align: center;
	font-size: 40px;
	width: 260px;
	padding: 20px;
}
.info-btn {
	display: inline-block;
	font-size: 40px;
	width: 60px;
	height: 60px;
	border: 5px solid;
	border-radius: 30px;
	background-color: transparent;
}
.info-btn:hover {
	background-color: #a8d9ff;
	cursor: pointer;
	border: 4px solid;
	font-size: 45px;
}
.likes {
	font-family: Lucida Console, Monaco, monospace;
}
.remove-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: transparent;
	border: none;
	font-size: 16px;
}
.remove-btn:hover {
	cursor: pointer;
}
.left {
	float: left;
}
.right {
	float: right;
}
.notification {
	position: fixed;
	background: wheat;
	top: 30%;
	left: 40%;
	width: 18%;
	border: 7px solid red;
	text-align: center;
	padding: 1%;
	font-size: 28px;
	min-height: 35px;
}
#form {
	opacity: 0;
	display: none;
	position: absolute;
	width: 292px;
	z-index: 999;
}
#form #login-form,
#form #sign-up-form {
	display: none;
	width: 230px;
	padding: 20px;
	background-color: #EBEBEB;
}
#login-form .btn {
	display: inline-block !important;
	margin-left: 8px !important;
}
.input {
	float:left;
	width: 200px;
	height: 16px;
	padding: 6px 12px;
	display: block;
}
input, textarea {
	font-size: 14px;
	line-height: 1.428571429;
	color: #555555;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	resize: none;
}
textarea:focus,
.input:focus {
	border-color: #66afe9;
	outline: 0;
}
.btn {
	padding: 6px 12px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid #357ebd;
	color: #ffffff;
	background-color: #428bca;
}
.btn:hover {
	color: #ffffff;
	background-color: #3276b1;
	border-color: #285e8e;
}
#form .btn {
	display: block;
	width: 100px;
	margin: 20px auto;

}
.form-lb {
	margin-bottom: 15px;
}
.form-lb label {
	display: inline-block;
	margin-bottom: 5px;
	font-weight: bold;
}
#form .remove-btn {
	top: 5px;
	right: 30px;
}
#send-mess{
margin-top: 20px;
}
.error-form {
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	-ms-animation-duration: 0.5s;
	-o-animation-duration: 0.5s;
	animation-duration: 0.5s;
	dbackground-color: red;
	-webkit-animation-name: tada;
	-moz-animation-name: tada;
	-o-animation-name: tada;
	animation-name: tada;
}
.error-form input {
	border-color: #FF6D68 !important;
}
#heart_editor{
	display:none;
}
#heart_editor .btn{
	color: #333;
	background-color: #44c767;
	border: none;
}
#heart_editor .btn:hover {
	color: #333;
	background-color: #18ab29;
}
#top-btn {
	text-align: center;
	height: 30px;
}
#heart_size {
	font-size: 16px;
	cursor: pointer;
}
#heart_color {
	height: 19px;
	width: 16px;
	cursor: pointer;
}
#buy {
	display: block;
	width: 210px;
	margin: 0 auto;
}
#locate {
	width: 110px;
}
#comments{
	width:890px;
	margin-left: 190px;
}
#comments_list {
	list-style: none;
	padding: 0;
}
.head_comment {
	padding: 10px 20px 10px 20px;
	background-color: rgba(228, 228, 228, 0.8);
}
.body_comment {
	padding: 20px;
}
.comment {
	background-color: rgba(245,245,245, 0.8);
	margin-bottom: 30px;
}
.comment .date {
	float: right;
}
#form_comment {
	margin: 30px;
	width: 850px;
	margin-left: 190px;
	padding: 20px;
}
#message{
	resize: none;
	height: 100px;
	width: 825px;
	margin: 0;
	overflow: hidden;
}
.top_panel {
	text-align: center;
}
.wrap_editor {
	width: 210px;
	margin: 15px auto 0;
	overflow: hidden;
}
.wrap_editor input.input,
.wrap_editor textarea {
	width: 88%;
	padding: 6px 5%;
}
#image {
	width: 210px;
	margin: 0 auto;
}
.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
	padding: 7px 12px;
	display: inline;
}
.fileUpload input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
#uploadFile {
	margin-bottom: 10px;
}
.btn-ipad {
	position: absolute;
	right: 72px;
	top: 333px;
	width: 42px;
	height: 42px;
	border-radius: 21px;
	cursor: pointer;
}
.btn-ipad:hover {
	background: rgba(126, 100, 100, 0.3);
}
#info-contest {
	display: none;
	position: absolute;
	width: 250px;
	left: -250px;
	top: 0;
}