@import "http://webfonts.ru/import/scada.css";
* {
    margin: 0 ;
    padding: 0;
	font-family: 'Scada';
	font-weight: normal;
	font-style: normal;
}
button:focus {
	outline-style: none;
}
@-webkit-keyframes myfirst
{
    from {background-position: 1000px 155px;}
    to {background-position: 0 0;}
}
@keyframes myfirst
{
    from {background-position: 1000px 155px;}
    to {background-position: 0 0;}
}

body {
    background-position: 200px 400px;
    d: -1000px 155px;
    background-size: 1520px;
    danimation: myfirst 20s;
    d-webkit-animation: myfirst 5s;
    danimation-timing-function: ease-out;
    d-webkit-animation-timing-function: ease-out;
    background:#000 !important; 
    padding:0;
    margin:0;
}
#header {
	display: none;
	position: fixed;
	right: 0;
	width: 100%;
	background-color: rgba(255, 128, 199, 0.71);
	z-index: 999;
}
.menu {
	float: right;
	margin-right: 10px;
}
.menu li{
	margin-right: 5px;
	list-style: none;
	display: inline-block;
	text-align: center;
	cursor: pointer;
}
.menu img {
	width: 50px;
}
.btn {
	float: right;
	padding: 5px 100px 0 0;
}
.btn a{
	color: #0C3007;
	text-decoration: none;
	font-size: 40px;
}
#myCanvas {
	background:#000;
	position:absolute;
}
#screen {
	position: absolute;
	width:100%;
	height:100%;
	background:none;
}
.h {
	position: absolute;
	opacity: 0;
}
.hselected #svg_7 {
	stroke: white;
}
.hselected #svg_9 {
	stroke-width: 22;
}
.hselected:hover #svg_9 {
	stroke-dasharray: 0;
}
#info {
	position: relative;
	top: 54px;
	background-color: rgba(255,255,255,0.8);
	padding: 20px;
	width: 300px;
	height: 492px;
	opacity: 0;
	display: none;
}
#info h3 {
	margin-bottom: 20px;
	width: 100%;
	text-align: center;
}
#info img {
	width: 100%;
	margin-bottom: 10px;
}
#info p {
	margin-bottom: 5px;
}
.remove-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: transparent;
	border: none;
	font-size: 16px;
}
.info-btn {
	display: inline-block;
	font-size: 40px;
	width: 60px;
	height: 60px;
	border: 5px solid;
	border-radius: 30px;
	background-color: transparent;
}
.left {
	float: left;
}
.right {
	float: right;
}
#infobottom {
	position: absolute;
	bottom: 0;
	text-align: center;
	font-size: 40px;
	width: 260px;
	padding: 20px;
}
.likes {
	font-family: Lucida Console, Monaco, monospace;
}